.carousel-inner img {
    height: 550px; 
    object-fit: cover; 
    background-color: #000; 
  }
  
  .home-img{
    height: 500px;
    width: 500px;
    border-radius: 10px;
  }
  .custom-card{
    height: 50px;
  }